@use 'sass:map';
@import './../../scss/variables';

.articles {
  & > .col-md-12 + .col-md-12 {
    border-top: 1px solid $tis-grey;
  }
}

.article {
  table,
  .article-date,
  .article-excerpt {
    color: $tis-dark-blue;
  }
  p:last-child {
    margin-bottom: 0;
  }
  .thumb {
    figure {
      margin: 0;
      overflow: hidden;
    }
    img,
    svg {
      max-height: 100%;
      max-width: 100%;
    }
  }
}
a.article {
  &:hover {
    text-decoration: none;
  }
  &.analysis-preview {
    &:hover,
    &:focus {
      figure {
        border-style: solid;
      }
      img,
      svg {
        filter: saturate(100%);
      }
    }
    & > .row > .col-lg-3 {
      max-width: 250px;
    }
    .thumb {
      position: relative;
      overflow: hidden;
      &:after {
        content: attr(data-label);
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%) rotate(45deg) translate(0, 235%);
        color: #fff;
        font-size: 1rem;
        font-weight: $fw-bold;
        line-height: 2rem;
        text-align: center;
        width: 150%;
      }
      .name {
        position: absolute;
        bottom: 0.75em;
        padding: 0 1em;
        width: 100%;
      }
      .badge {
        background-color: rgb(0 0 0 / 50%);
        font-size: 1em;
        white-space: normal;
      }
    }
    figure {
      border-color: $tis-score-unknown;
      border-style: dotted;
      border-width: 2px;
    }
    img,
    svg {
      filter: saturate(25%);
    }
    .cover {
      bottom: 2px;
      padding: 0 2px;
    }
    &.score-good {
      .thumb:after {
        background-color: $tis-score-green;
      }
      figure {
        border-color: $tis-score-green;
      }
    }
    &.score-average {
      .thumb:after {
        background-color: $tis-score-orange;
      }
      figure {
        border-color: $tis-score-orange;
      }
    }
    &.score-bad {
      .thumb:after {
        background-color: $tis-score-red;
      }
      figure {
        border-color: $tis-score-red;
      }
    }
    &.score-unknown {
      .thumb:after {
        background-color: $tis-score-unknown;
      }
    }
    &.analysis-elected {
      .thumb {
        .badge {
          background-color: rgba($tis-light-blue, 85%);
        }
      }
      figure {
        border-color: $tis-light-blue;
      }
      h2 {
        color: $tis-light-blue;
      }
    }
  }
  .articles.featured & {
    &:hover,
    &:focus {
      background-color: transparent;
      .thumb img {
        filter: saturate(100%);
      }
    }
    .thumb {
      &:after {
        font-size: 1.5em;
        line-height: 2.15rem;
        transform: translate(50%, -50%) rotate(45deg) translate(0, 150%);
      }
      img,
      svg {
        filter: saturate(25%);
      }
    }
  }
}

.emoji-icon:before {
  display: inline-block;
  font-style: normal;
  margin-right: 0.25em;
  text-decoration: none;
}

.article-date {
  @extend .emoji-icon;
  font-style: italic;
  &:before {
    content: '📅';
  }
}

.article-tags {
  @extend .emoji-icon;
  font-style: italic;
  &:before {
    content: '🔖';
  }
  .tag {
    & + .tag:before {
      content: '·';
      color: $font-color;
      display: inline-block; // disable hover underline effect from parent link
      margin: 0 0.5em;
    }
  }
}

ul.blocks-gallery-grid {
  list-style: none;
  padding: 0;
}

.analysis .arrows {
  margin-bottom: 0;
}

.indicators-table td:not(:first-child) {
  width: 150px;
}

figure.text-center figcaption {
  margin-left: auto;
  margin-right: auto;
}
figure.text-end figcaption {
  margin-left: auto;
}

@media (min-width: map.get($grid-breakpoints, 'md')) {
  .articles.featured {
    & > .col-md {
      flex: 0 0 auto;
      width: 33.33333333%;
    }
  }
  .article {
    .thumb {
      height: 0;
      overflow: hidden;
      padding-top: 100%;
      position: relative;
      figure {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      img,
      svg {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .analysis-preview th {
    width: 170px;
  }
}

@media (min-width: map.get($grid-breakpoints, 'lg')) {
  .articles.featured {
    & > .col-md {
      width: 25%;
    }
  }
  .analysis-preview th {
    width: 33%;
  }
  .articles.featured a.article .thumb:after {
    font-size: 2em;
    line-height: 2.65rem;
  }
  .analysis-preview .cover {
    font-size: 1.25em;
    padding: 0.4em 1em;
    .articles.featured & {
      font-size: 1.5em;
    }
    .articles.list & {
      font-size: 1.1em;
    }
  }
}

@media (min-width: map.get($grid-breakpoints, 'xl')) {
  .articles.featured {
    & > .col-md {
      width: 20%;
    }
  }
  .articles.featured a.article .thumb:after {
    font-size: 2.5em;
    line-height: 3.15rem;
  }
}

@media (min-width: map.get($grid-breakpoints, 'xxl')) {
  .articles.condensed .article {
    .thumb {
      height: auto;
      padding-top: 0;
      figure {
        position: relative;
      }
      img,
      svg {
        max-height: 250px;
        position: relative;
        top: 0;
        transform: none;
      }
    }
  }
  .analysis-preview th {
    width: 25%;
  }
  .articles.featured a.article .thumb:after {
    font-size: 3em;
    line-height: 3.65rem;
  }
  .analysis-preview .cover {
    font-size: 1.5em;
    .articles.featured & {
      font-size: 2em;
    }
  }
}

$fade: 0.3;
.cover {
  position: absolute;
  bottom: 0;
  width: 100%;
  span {
    background-color: fade-out(black, $fade);
    border-radius: 0;
    display: inline-block;
    line-height: 1.5em;
    padding: 0.35em;
    width: 100%;
    white-space: normal;
    &.info {
      background-color: fade-out($tis-score-unknown, $fade);
    }
  }
}
